WebServiceClient/App_WebReferences/CommunityAssistServRef/Community_Assist2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60386/Community_Assist.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApartmentNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WorkPhone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestGrant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrantTypeKey" type="xs:int" />
        <xs:element minOccurs="0" name="GrantReuestExplanation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GrantRequestAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="PersonKey" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestGrantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestGrantResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGrants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonKey" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewGrantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewGrantsResult" nillable="true" type="q1:ArrayOfGrantRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrantTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrantTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetGrantTypesResult" nillable="true" type="q2:ArrayOfGrantType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>